* {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

html {
  /* height: 100%; */
}

body {
  margin: 0px;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#face {
  height: calc(100vh - 200px);
}

#text {
  width: 100%;
  font-size: 5vw;
  height: 200px;
  line-height: 100px;
}

.main {
  flex: 1;
}